$main-color: #fda50f;

.projects-container {
  padding: 100px;
  display: flex;
  width: 100%;
  .projects-icons {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }
  .project-preview {
    width: 50%;
    .preview-box {
      position: relative;
      margin: 0 auto;
      width: 400px;
      height: 450px;
      border-radius: 1rem;

      .project-name {
        position: absolute;
        writing-mode: vertical-rl;
        top: 1rem;
        right: 0rem;
        font-size: 5rem;
        z-index: -1;
        color: white;
        transition-duration: 0.5s;
        transition-timing-function: ease-in-out;
        // animation-name: hideName;
        // animation-duration: 0.5s;
        // animation-fill-mode: forwards;
        // animation-timing-function: ease-in-out;
      }
    }
  }
}

@keyframes hideName {
  to {
    right: 0rem;
  }
}
@keyframes showName {
  to {
    right: -4.5rem;
  }
}

// .projects-boxes {
//   margin-top: 150px;
//   display: grid;
//   grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
//   column-gap: 20px;
//   row-gap: 60px;
//   .box {
//     position: relative;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     transition: 0.3s ease-out;
//     box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
//     cursor: pointer;
//     .info-box {
//       height: 170px;
//       border-radius: 14px;
//       background-color: #112240;
//       padding: 15px;
//       display: flex;
//       flex-direction: column;
//       text-align: start;
//       animation: skillFadeInUp 2s;
//       width: 100%;
//       .project-info {
//         display: flex;
//         justify-content: space-between;
//         flex-direction: column;
//         height: 100%;

//         h3 {
//           position: relative;
//           font-size: 24px;
//           margin-bottom: 12px;
//           color: $main-color;
//           letter-spacing: 2px;
//           &.vpn-required::after {
//             content: "VPN Requierd(in Syria)";
//             position: absolute;
//             top: 50%;
//             transform: translateY(-50%);
//             right: 15px;
//             font-size: 1.1rem;
//             opacity: 0.5;
//             font-family: "Alegre Sans";
//           }
//         }
//         p {
//           font-size: 22px;
//           letter-spacing: 2px;
//           color: #8c98b6;
//           margin-bottom: 20px;
//           font-family: "Alegre Sans";
//         }
//         a {
//           color: #8c98b6;
//           position: relative;
//           transition: 0.3s ease-out;
//           width: fit-content;

//           &::after {
//             content: "";
//             width: 0;
//             height: 0.5px;
//             position: absolute;
//             bottom: -3px;
//             left: 0;
//             background-color: $main-color;
//             transition: 0.3s ease-out;
//           }
//           &:hover {
//             color: $main-color;
//             &::after {
//               width: 100%;
//             }
//           }
//         }
//       }
//     }
//     img {
//       width: 50%;
//       position: absolute;
//       top: -30%;
//       left: 50%;
//       transform: translateX(-50%);
//       z-index: -1;
//       filter: grayscale(1);
//       border-radius: 5px;
//       transition: 0.3s ease-out;
//       box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
//       animation: imgFadeInDown 3s;
//     }
//     &:hover {
//       img {
//         filter: grayscale(0);
//         top: -110%;
//         width: 100%;
//       }
//       transform: translateY(-10px);
//       box-shadow: 0 4px 25px rgb(0 0 0 / 40%);
//     }
//     &.under-construction {
//       filter: grayscale(1);
//       .info-box {
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         .text {
//           position: relative;
//           font-size: 2.5rem;
//           color: $main-color;
//           &::after {
//             // content: attr("data-name");
//             content: "Social Media Website";
//             position: absolute;
//             left: 50%;
//             transform: translateX(-50%);
//             bottom: -20px;
//             font-size: 1rem;
//             width: 100%;
//           }
//         }
//       }
//       &:hover {
//         animation: flash 1s ease-out;
//         img {
//           filter: grayscale(0);
//           top: -30%;
//           width: 50%;
//         }
//         transform: translateY(0px);
//       }
//     }
//   }
// }

@media (max-width: 767px) {
  .projects .sub-head {
    font-size: 2rem;
  }
  .projects-boxes {
    margin-top: 15vh;
    .box {
      position: relative;
      display: flex;
      align-items: center;
      transition: 0.3s ease-out;
      box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
      margin-bottom: 40px;
      cursor: pointer;
      img {
        width: 100px;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(-50%);
        z-index: -1;
        filter: grayscale(1);
        border-radius: 5px;
        transition: 0.3s ease-out;
        box-shadow: none;
        opacity: 0;
        animation: fadeIn 1s 2s forwards;
      }
      .info-box {
        height: 100%;
        border-radius: 0;
        justify-content: center;
        .project-info {
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 100%;
          flex-direction: row;
          h3 {
            font-size: 1.5rem;
            margin-bottom: 0;
            color: $main-color;
            letter-spacing: 2px;
            font-family: "Alegre Sans";
          }

          p {
            display: none;
          }
          a {
            color: #8c98b6;
            position: relative;
            transition: 0.3s ease-out;
            width: fit-content;
            font-family: "Alegre Sans";

            &::after {
              content: "";
              width: 0;
              height: 0.5px;
              position: absolute;
              bottom: -3px;
              left: 0;
              background-color: $main-color;
              transition: 0.3s ease-out;
            }
            &:hover {
              color: $main-color;
              &::after {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}

@keyframes imgFadeInDown {
  0% {
    opacity: 0;
    transform: translate(-50%, -100px);
  }
  50% {
    opacity: 0;
    transform: translate(-50%, -100px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0px);
  }
}
