$main-color: #fda50f;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Darkest Saturday";

  text-decoration: none;
}
ul {
  list-style: none;
}

.container {
  padding-top: 50px;
  padding-right: 25px;
  padding-left: 25px;
  text-align: center;
  overflow: hidden;
}
.main-header {
  text-align: center;
  position: relative;
  color: #60f4d1;
  .head {
    font-size: 90px;
    letter-spacing: 2px;
  }
  .sub-head {
    margin-top: -30px;
    letter-spacing: 4px;
    font-size: 30px;
    opacity: 0.4;
    color: white;
  }
}
