html {
  background-color: #0a192f;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Darkest Saturday";
  src: url("./assets/fonts/Darkest-Saturday.ttf");
}

@font-face {
  font-family: "SF Mono";
  src: url("./assets/fonts/SFMonoRegular.otf");
}
@font-face {
  font-family: "Alegre Sans";
  src: url("./assets/fonts/AlegreSans-Regular.ttf");
}

@font-face {
  font-family: "Tangerine";
  src: url("./assets/fonts/Tangerine_Regular.ttf");
}
